<br>
<br>
<br>
<br>
<br>
<div class="container">
  <h1 class="title-todo">Вторник</h1>
  <app-to-do-list-item [todoList]="todoList" (removeTask)="removeTask($event)"></app-to-do-list-item>

  <form class="add-task" [formGroup]="addTaskForm">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="task" class="input">
    </mat-form-field>
    <button class="button button--add"
            [disabled]="disabledAddButton"
            [ngClass]="disabledAddButton ? 'disabled' : ''"
            (click)="addTask()"
    >add</button>
  </form>
</div>
