.add-task {
  padding: 5px 15px;
  display: flex;
}

.button--add {
  background: #1bcc0e;
}

.button--add.disabled {
  opacity: 0.5;
}

.add-task > input {
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #5a5050;
  background: #373232;
  color: #ededed;
}

::ng-deep {
  mat-form-field {
    color: #ededed;
  }

  .mat-mdc-form-field-bottom-align {
    display: none;
  }
}
