<br>
<br>
<br>
<br>
<br>
<div class="container">
  <h1 class="title-todo">Вторник</h1>
  <ul class="tasks">
    <!--  TODO: использовать *ngFor-->
    <li class="task">
      <span class="task-text">Выгул собаки</span>
      <button>delete</button>
    </li>
    <hr class="line">
    <li class="task">
      <span class="task-text">Работа</span>
      <button>delete</button>
    </li>
    <hr class="line">
    <li class="task">
      <span class="task-text">Встреча</span>
      <button>delete</button>
    </li>
    <hr class="line">
  </ul>

  <div class="add-task">
    <input type="text">
    <button>add</button>
  </div>
</div>
